<%= form_for @recipe do |f| %>
	<% if @recipe.errors.any? %>
	<div id="errors">
		<p><%= @recipe.errors.count %> Prevented this recipe from saving </p>
	</div>
	<% end %>
	<ul>
		<% @recipe.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	</ul>
	<% end %>
	<div class="panel-body">
		<%= f.input :title, class: "form-control" %>
		<%= f.input :description, class: "form-control" %>
		<%= f.input :image, class: "form-control" %>
		<%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
